@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Karla', sans-serif;
}
body{
    background: #000;
    color: #FFF;
}
img{
    max-width: 100%;
}
.hero{
    position: relative;
    min-height: 70vh;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/a1543997-c1fd-4946-92d3-b0a3648b92c7/a3655d04-3a74-4360-a857-4524ef0680d5/NG-en-20220808-popsignuptwoweeks-perspective_alpha_website_medium.jpg');
    overflow-y: auto;
}
.hero__text{
    position: absolute;
    z-index: 999;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 2em;
    justify-content: space-between;
    /* position: absolute; */
    width: 100%;
    /* z-index: 999; */
    margin-bottom: 2em;
}
.navbar > a:first-child{
    width: 7em;
}
.navbar > a:last-child{
    text-decoration: none;
    background-color: #e50914;
    color: #FFF;
    padding: .4em .7em;
    border-radius: .2em;
}
.hero > .hero__backdrop{
    background: rgba(0, 0, 0, .6);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 9;
}
.hero > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    /* object-fit: cover; */
}
.content__box{
    text-align: center;
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 11;
    padding: 1em;
}
.content__box h1{
    font-weight: 800;
}
.content__box p{
    font-size: 1.2rem;
    font-weight: 300;
}
form{
    font-weight: 300;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.form__row{
    display: flex;
    justify-content: center;
}
.form__row input{
    /* flex: .7; */
    font-size: 1rem;
    padding: .7em;
    outline-width: 0;
    background-color: #FFF;
    border: transparent;
}
.form__row button{
    display: flex;
    align-items: center;
    color: #FFF;
    background-color: #e50914;
    border: transparent;
    font-size: 1rem;
    /* flex: .3; */
    text-align: center;
    justify-content: center;
}

/* main */
main{
    background: #000;
    color: #FFF;
    font-weight: 300;
    border-top: 8px solid #222;
    padding-bottom: 2em;
}
.section{
    padding: 1em calc(1em + 3vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 8px solid #222;
}
.section h2{
    font-size: calc(1rem + 2.5vw);
    margin-bottom: .5em;
}
.section p{
    font-size: calc(.5rem + 1.2vw);
}
.section img{
    transform: scale(.8);
}
@media(min-width: 800px){
    .section{
        flex-direction: row;
        justify-content: center;
    }
    .section:nth-child(even){
        flex-direction: row-reverse;
    }
    .section__contentBox{
        flex: 1;
    }
    .section img{
        flex: 1;
        transform: scale(.7);
    }
}




/* Accordion */
.accordion {
    width: 100%;
    max-width: 800px;
    margin: 1em auto;
    color: #000;
    /* padding: 45px 45px; */
  }
  
  .accordion .container {
    position: relative;
    margin: 10px 10px;
    background: #303030;
    padding: 1em 2em;
  }
  
  .accordion .label {
    position: relative;
    padding: 10px 0;
    /* font-size: 30px; */
    font-size: 1.2rem;
    color: #FFF;
    cursor: pointer;
  }
  
  .accordion .label::before {
    content: '+';
    color: #FFF;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 30px;
    transform: translateY(-50%);
  }
  
  .accordion .content {
    position: relative;
    /* background: white; */
    color: #FFF;
    height: 0;
    font-size: 20px;
    text-align: left;
    /* width: 780px; */
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .accordion hr {
    width: 100;
    margin-left: 0;
    border: 0 solid transparent;
    display: none;
  }
  
  .accordion .container.active .content {
    height: fit-content;
  }
  
  .accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
  }

  main > form{
    padding: 1em;
  }
  main > form label{
    font-size: 1.5em;
    text-align: center;
  }
  main .form__row{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
  }
  main .form__row input{
    /* width: 70%; */
    flex: .65;
  }
  main .form__row button{
    flex: .35;
    align-items: center;
    display: flex;
  }
  

  .faq, .footer{
    padding: 1em;
  }

  .footer{
    padding: 2em;
    border-top: 8px solid #222;
  }
.footer__container{
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
}

.footer__box{
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.footer__col{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: .5em;
}
.footer__col a{
    text-decoration: none;
    color: #737373;
}
.footer p{
    color: #737373;
}

@media(min-width: 800px){
    .footer__box{
        flex-direction: row;
        gap: 3em;
    }
    .footer__container{
        justify-content: unset;
        gap: 3em;
        margin-top: 2em;
    }
    .footer__col{
        gap: 1em;
    }
}


















/* 












